


    <% if params["machine_id"] %>
    <table>
      <thead>
        <tr>
          <% @kits.each do |kit| %>
            <th> <%= kit.kitname %> </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%= form_for @order do |f| %>
            <% @kits.each do |kit| %>
              <%= f.fields_for :listitem do |itemlists_form|  %>
                <td>
                    <%= itemlists_form.text_field :amount %>
                </td>
              <% end %>
          <% end %>
          <%= f.submit "Place Order" %>
          <% end %>
        </tr>
      </tbody>
    </table>
    <% else %>
      <% @machines.each do |machine| %>
        <ul>
          <li> <%= link_to machine.machinename, new_order_path(machine_id: machine.id) %> </li>
        </ul>
      <% end %>
    <% end %>
